@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Responses</title>
</head>
<body>
    <div class="panel-body">
        <h2>Зарегистрированные пользователи</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FirstName </th>
                    <th>LastName</th>
                    <th>Role</th>
                    <th>BirthDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TestingApplication.Models.User r in Model)
                {
                    <tr>
                        <td>@r.ID</td>
                        <td>@r.FirstName </td>
                        <td>@r.LastName</td>
                        <td>@r.Role</td>
                        <td>@r.BirthDate</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>